.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  gap: 20px;
}

.p5-container {
  height: 45vh;
  width: auto;
}